<h1 class="text-4xl w-full pb-6">Biografia</h1>
    <div class="pb-6">
      <p>
        Formado em Engenharia de Controle e Automação e pós graduando em Engenharia de Software, ambos os cursos pela Pontifícia Universidade Católica de Minas Gerais.
      </p>
      <br>
      <p>
        Meu interesse pela computação começou tarde, na faculdade, durante a disciplina de Sistemas Microprocessados. Na época o meu notebook queimou a placa mãe e então precisava absorver o máximo de conteúdo em sala de aula, para replicar em casa os aprendizados no caderno com papel e caneta.
      </p>
      <br>
      <p>
        No início da pandemia Covid-19 (Maio de 2020), um grupo de amigos me ofereceu ajuda para me iniciar nos estudos do desenvolvimento de software.
      </p>
      <br>
      <p>
        Em Outubro de 2020, aproveitando o final da faculdade, tive a oportunidade de trabalhar como estagiário na empresa DTI Digital, tive todo o auxílio para aprender, fortalecer os conceitos bases e me tornei um desenvolvedor de sistemas.
      </p>
      <br>
      <p>
        Desde então, fui explorando cada vez mais as possibilidades que a tecnologia oferece. E em Julho de 2022 mudei de emprego, trabalho na Neuco Tecnologia, junto com o mesmo grupo de amigos que me ajudou lá no início da pandemia.
      </p>
      <br>
      <b>Sou muito grato a cada um que já me ajudou e vêm me ajudando ao longo da minha jornada que só está começando!</b>
</div>
