<!-- Menu -->
<nav class="flex items-center justify-between flex-wrap bg-sky-700 p-6">
  <div class="w-full block items-center flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="flex w-full text-sm lg:flex-grow justify-center items-center">
      <a href="#" class="block mt-4 lg:inline-block lg:mt-0 text-slate-200 hover:text-white mr-4 text-2xl">
        Blog
      </a>
      <a href="#sobre" class="block mt-4 lg:inline-block lg:mt-0 text-slate-200 hover:text-white mr-4 text-2xl">
        Sobre
      </a>
      <a href="#descricao" class="block mt-4 lg:inline-block lg:mt-0 text-slate-200 hover:text-white text-2xl">
        Descrição
      </a>
    </div>
  </div>
</nav>

<!-- Descricao -->
<div class="flex pt-16 pb-16 w-full items-center justify-center bg-sky-700">
  <div class="flex justify-between items-center" style="width: 50%;">
    <img class="rounded-full" src="../assets/perfil_joao.jpg" alt="" width="150">
    <div class="ml-16 text-slate-200">
      <h1 class="text-4xl">João Paulo Barbosa Pertence</h1>
      <a class="flex pt-5" href="https://www.linkedin.com/in/joaopertence/" target="_blank" style="text-decoration: underline">
        Perfil Linkedin
      </a>
    </div>
  </div>
</div>

<!-- Biografia-->
<div class="flex pt-5 pb-5 w-full items-center justify-center ">
  <div class="flex flex-wrap justify-between items-center" style="width: 50%;">
    <app-biografia></app-biografia>
  </div>
</div>

<!-- Blog -->
<div class="flex pt-5 pb-5 w-full items-center justify-center ">
  <div class="flex flex-wrap justify-between items-center" style="width: 50%;">
    <app-blog></app-blog>
  </div>
</div>