<h1 class="text-4xl w-full pb-6">Últimas do blog</h1>

<div class="pb-6">
    <a href="#" class="block mt-4 lg:inline-block lg:mt-0 mr-4">
    Dicas para sua carreira profissional
    </a>
    <p class="italic text-slate-500">
    Confira algumas dicas que podem ajudar a alanvancar sua carreira como desenvolvedor front-end.
    </p>
</div>

<div class="pb-6">
    <a href="#" class="block mt-4 lg:inline-block lg:mt-0 mr-4">
    Dicas para sua carreira profissional
    </a>
<p class="italic text-slate-500">
    Confira algumas dicas que podem ajudar a alanvancar sua carreira como desenvolvedor front-end.
    </p>
</div>

<div class="pb-6">
    <a href="#" class="block mt-4 lg:inline-block lg:mt-0 mr-4">
    Dicas para sua carreira profissional
    </a>
    <p class="italic text-slate-500">
    Confira algumas dicas que podem ajudar a alanvancar sua carreira como desenvolvedor front-end.
    </p>
</div>

<div class="pb-6">
    <a href="#" clas="block mt-4 lg:inline-block lg:mt-0 mr-4">
    Dicas para sua carreira profissional
    </a>
    <p class="italic text-slate-500">
    Confira algumas dicas que podem ajudar a alanvancar sua carreira como desenvolvedor front-end.
    </p>
</div>

<div class="pb-6">
    <a href="#" class="font-bold block mt-4 lg:inline-block lg:mt-0 mr-4">
    Ver Tudo
    </a>
</div>
